# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#My
src/assets
src/Card
src/ColorPicker
src/Counter
src/FAQ
src/OznPracDEMO
src/Quiz
src/SearchBarFunctionality
src/ShoppingList
src/Slider
src/Wordly
src/TestComponent.jsx
src/db.json
src/WasInAppComments
